* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  width: fit-content;
  cursor: pointer;

  background-color: #0075eb;
  border-radius: 10rem;
  padding: 0.625rem;
  font: 1rem/1.35rem sans-serif;

  color: black;
}
